@{
    ViewBag.Title = "About";
}


<b>Müşteri Ekleme</b>



<form action="Kaydet">

    <textarea name="txt_MusteriAdi" rows="1" ></textarea>

    

    <input type="submit" value="Kaydet" />
</form>